.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
.ant-btn-primary,.ant-btn-primary:hover, .ant-btn-primary:focus{
    background-color: #0350CF;
    border-color: #0350CF;
}
.ant-menu-dark.ant-menu-inline .ant-menu-item,
.ant-menu-dark.ant-menu-inline .ant-menu-submenu-title{
    text-align: left;
}
.ant-layout-sider,.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
    background: #111B3F !important;
}

.icon1,.icon2,.icon3,.icon4,.icon5,.icon6,.icon7,.icon8{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    -webkit-background-size: 100% !important;
    background-size: 100% !important;
}
.icon1{
    background: url("../../../static/icons/desktop.png");
}
.icon2{
    background: url("../../../static/icons/cloud-server.png");
}
.icon3{
    background: url("../../../static/icons/delete.png");
}
.icon4{
    background: url("../../../static/icons/camera.png");
}
.icon5{
    background: url("../../../static/icons/gold.png");
}
.icon6{
    background: url("../../../static/icons/drag.png");
}
.icon7{
    background: url("../../../static/icons/wifi.png");
}
.icon8{
    background: url("../../../static/icons/file.png");
}