.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
.ant-btn-primary,.ant-btn-primary:hover, .ant-btn-primary:focus{
    background-color: #0350CF;
    border-color: #0350CF;
}
.ant-menu-dark.ant-menu-inline .ant-menu-item,
.ant-menu-dark.ant-menu-inline .ant-menu-submenu-title{
    text-align: left;
}
.ant-layout-sider,.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
    background: #111B3F !important;
}
